<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
		<appender name="ibatis" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss.SSS dd/MM/yyyy} %t %m%n" />
		</layout>

	</appender>

	<logger name="java.sql" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="ibatis"/>
	</logger>

	<logger name="com.ibatis" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="ibatis"/>
	</logger>
	<logger name="hex.com" additivity="false">
		<level value="TRACE"/>
		<appender-ref ref="ibatis"/>
	</logger>
</log4j:configuration>
